@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Content/band-baner.jpg'); background-repeat: no-repeat, repeat; background-size: 100%;">

    <h1 style="color:black;">Abstrakt music</h1>

    <p class="lead" style="color:black;">Check out the music. Abstrakt combines hypnotic melodies and power sound with impulsive compositions. Replacement role of guitar and bass, characteristic vocals and dynamic drums and synthesizer to create a unique sound. Immerse yourself – click on the icon below!</p>
    
    <p>
        <a href="https://abstraktband.bandcamp.com/releases" class="btn btn-primary btn-link" style="margin:20px;"><img src="https://i1.wp.com/abstraktband.com/wp-content/uploads/2015/01/bandcamp1.png?w=422" height="100" /></a>
        <a href="https://www.youtube.com/abstraktpl" class="btn btn-primary btn-link" style="margin: 20px;">
            <img src="~/Content/youtube.png" height="100" />
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <iframe src="https://www.youtube.com/embed/AdgdE1kmZlw?feature=oembed" frameborder="0" allowfullscreen="" data-ratio="0.5621212121212121" data-width="660" data-height="371" style="display: block; margin: 0px; width: 100%;"></iframe>
        <h2>Concept album</h2>
        <p>
            Concept album Limbosis received high notes i.a. from 10/10 Guitarist Magazine, 9.5/10 Death Magnetic, 4,75/5 Power of Prog or 9,5/10 Death Magnetic. It also appears in various portals, magazines and foreign radio stations (ie. Prog Archives, DPRP, Prog Metal Zone – global, Prog Core – Canada, Prog Britannia – UK, Empire Magazine – Germany, Tzertzelos – Greece, Teraz Rock – Poland, Femforgacs – Hungary).
        </p>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.youtube.com/embed/NPMTTMvm8mg?feature=oembed" frameborder="0" allowfullscreen="" data-ratio="0.5621212121212121" data-width="660" data-height="371" style="display: block; margin: 0px; width: 100%;"></iframe>
        <h2>Gloom</h2>
        <p>Imagine the world where the gloom, dread and heaviness clashes with the beauty of melodies and sounds. In the darkness, where the stage is illuminated by visualisations, Abstrakt will take you to the world you have never been to…</p>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.youtube.com/embed/TLHwg46SOpw?feature=oembed" frameborder="0" allowfullscreen="" data-ratio="0.5621212121212121" data-width="660" data-height="371" style="display: block; margin: 0px; width: 100%;"></iframe>
        <h2>Lyric</h2>
        <p>Do you want to fill the shoes of the main character? Feel the plot and enjoy the ride? The best way to start up the trip with LIMBOSIS concept album is to listen to Teratoma lyric video:</p>
    </div>
</div>