@model AbstraktApp.WebUI.Models.Product

@{
    ViewBag.Title = "Index";
}




<h2>@Model.Name</h2>
<hr />

@Html.Partial("_Review", Model.Reviews)

@Html.ActionLink("Go back to product list", "Index", "Products")


<p>
    @Html.ActionLink("Create New", "Create", new { productId = Model.ID })
</p>