@model AbstraktApp.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Produkty";
}


<div class="JPOwnAdd">
    <div id="header">
        @{Html.RenderAction("Summary", "Cart");}
    </div>
    <div id="categories">
        @{ Html.RenderAction("Menu", "Nav"); }  
    </div>
    <div id="content">


        @foreach (var item in Model.Products)
        {
            Html.RenderPartial("ProductSummary", item);
        }

        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
</div>
