@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h666 style="font-size:20em;"><big>:(</big></h666>
<h2 class="text-danger">An error occurred while processing your request.</h2>

